[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ffmpeg-python = "*"
flake8-pyi = "*"

[dev-packages]
ipython = "*"
flake8-pyi = "*"

[requires]
python_version = "3.10"
